IMG_NAME="vanchor"
IMG_SUFFIX="-@VERSION@-arm64"
RELEASE="bookworm"
DEPLOY_COMPRESSION="xz"
COMPRESSION_LEVEL=6
TARGET_HOSTNAME="vanchor"
FIRST_USER_NAME="vanchor"
FIRST_USER_PASS="vanchor"
DISABLE_FIRST_BOOT_USER_RENAME=1
ENABLE_SSH=0
WPA_COUNTRY="SE"
LOCALE_DEFAULT="en_US.UTF-8"
KEYBOARD_KEYMAP="us"
TIMEZONE_DEFAULT="Europe/Stockholm"
STAGE_LIST="stage0 stage1 stage2 ./stage-vanchor"
